*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}

html, body{
	height: 100%;
	background: #FAF9FC;
}

.clear{
	clear: both;
}

.w100{
	width: 100%;
}

.w33{
	width: 33.3%;
}

div.sidebar{
	float: left;
	width: 300px;
	background: #2D3035;
	height: 100%;
}

div.topo{
	background: #26282D;
	text-align: center;
	padding: 20px 10px;
}

div.topo h3{
	color: white;
}

div.menu{
	padding: 30px;
}

div.menu ul{
	list-style-type: none;
}

div.menu li{
	margin-bottom: 20px;
	font-size: 18px;
	color: #717171;
}

div.menu ul li a{
	font-size: 18px;
	color: #717171;
	text-decoration: none;
}

div.menu li:hover i{
	transition: 0.6s;
	color: #6D38B8;
}

div.menu li:hover a{
	transition: 0.6s;
	color: white;
}

/* FIM DA SIDEBAR */

div.main-content{
	float: left;
	width: calc(100% - 300px);
	height: 100%;
}

header{
	height: 90px;
	background: white;
	padding: 20px 15px;
	border-bottom: 2px solid #ccc;
}

.pesquisa-campo{
	float: right;
}

.icone-pesquisa{
	background: #D6D6D6;
	width: 30px;
	height: 30px;
	text-align: center;
	color: white;
	display: inline-block;
	vertical-align: middle;
	top: -1px;
	position: relative;
}

.icone-pesquisa i{
	position: relative;
	top: 5px;
}

.pesquisa-campo form{
	vertical-align: middle;
	display: inline-block;
}

.pesquisa-campo input[type=text]{
	width: 200px;
	height: 30px;
	border-top: 1px solid #ccc;
	border-right: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	border-left: 0;
	padding-left: 10px;
	font-size: 16px;
}

.pesquisa-campo input[type=text]:focus{
	outline: 0;
}

.icone-alerta{
	width: 30px;
	height: 30px;
	background: #FBEDEF;
	float: right;
	margin-right: 28px;
	text-align: center;
	position: relative;
}

.icone-alerta p{
	position: absolute;
	display: inline-block;
	background: #ED7387;
	color: white;
	padding: 3px;
	font-size: 12px;
	left: -8px;
	top: -8px;
	cursor: pointer;
}

.icone-alerta i{
	line-height: 30px;
	font-size: 18px;
	color: #ED7387;
	font-weight: bold;
}

.nome-usuario{
	float: left;
}

.nome-usuario h2{
	font-weight: normal;
	font-size: 18px;
	color: #A7A7A7;
	margin-top: 8px;
	cursor: pointer;
}

.content1{
	float: left;
	width: 80%;
	padding: 30px;
	overflow-y: auto;
	height: calc(100% - 90px);
}

.panel{
	margin-bottom: 10px;
	padding: 30px;
	width: 100%;
	float: left;
	border: 2px solid #EBEBEB;
	background: white;
}

.panel h2{
	color: #7E7E7E;
	font-size: 24px;
	font-weight: normal;
}

.panel p{
	font-size: 17px;
	color: #B2B2B2;
	margin-top: 10px;
}

.ultimas-atividades{
	width: 20%;
	background: #EAEBEB;
	padding: 20px 40px;
	float: left;
	height: calc(100% - 90px);
	overflow-y: auto;
}

.atividades-topo h2{
	color: #7E7E7E;
	font-size: 23px;
	border-bottom: 1px solid #ccc;
	padding: 15px;
	font-weight: normal;
}

.atividade-registro{
	position: relative;
	padding: 15px 10px;
	border-left: 1px solid #BBBBBB;
}

.atividade-registro h2{
	color: #BBBBBB;
	font-size: 19px;
	font-weight: normal;
}

.atividade-registro p{
	color: #B2B2B2;
	font-size: 15px;
}

.circle-atividade{
	position: absolute;
	left: -10px;
	top: -10px;
	width: 20px;
	height: 20px;
	border: 1px solid #cccccc;
	border-radius: 10px;
	background: #E9EBEB;
}

@media screen and (max-width: 768px)
{
	.ultimas-atividades{
		display: none;
	}
	.content1{
		width: 100%;
	}
	.panel{
		width: 100% !important;
	}
	.sidebar{
		display: none;
		position: relative;
		z-index: 999;
	}
	div.main-content{
		width: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
}